@page "/"

<PageTitle>Text to Speech POC</PageTitle>

<div class="container mt-5">
    <div class="main-content">
        <h1 class="card-title">Text to Speech POC</h1>
        <p class="card-text">
            Use this page to upload a file, extract text from it, then convert the text to speech. 
            You can then download the audio file. Use the settings panel to provide instructions to the LLM about which text to extract.
        </p>

        <div class="card mt-4 shadow-sm">
            <div class="card-body">
                <h2 class="card-title">Upload a file</h2>
                <InputFile OnChange="HandleFileSelected" class="form-control" />
                @if (selectedfile != null)
                {
                    <p class="mt-2">Selected file: @selectedfile.Name</p>
                }
            </div>
        </div>

        <div class="card mt-4 shadow-sm">
            <div class="card-body">
                <h2 class="card-title">Read text from the file</h2>
                <button @onclick="AnalyzeFile" class="btn btn-primary">Process File</button>

                @if (!string.IsNullOrEmpty(cleanedDocIntelligenceOutput))
                {
                    <p class="mt-2">Read text:</p>
                    <pre class="pre-scrollable">@cleanedDocIntelligenceOutput</pre>
                }
            </div>
        </div>

        <div class="card mt-4 shadow-sm">
            <div class="card-body">
                <h2 class="card-title">Extract text using Azure OpenAI AI</h2>
                <button @onclick="ExtractText" class="btn btn-primary">Extract Text</button>

                @if (!string.IsNullOrEmpty(llmOutput))
                {
                    <p class="mt-2">Extracted text:</p>
                    <pre class="pre-scrollable">@llmOutput</pre>
                }
            </div>
        </div>

        <div class="card mt-4 shadow-sm">
            <div class="card-body">
                <h2 class="card-title">Generate audio file</h2>
                <button @onclick="GenerateAudio" class="btn btn-primary">Generate Audio</button>
                <div>
                    @if (!string.IsNullOrEmpty(audioFileToken))
                    {
                        <audio controls>
                            <source src="@($"api/audio/{audioFileToken}")" type="audio/wav">
                            Your browser does not support the audio element.
                        </audio>
                        <p>
                            <a href="@($"api/audio/{audioFileToken}")" download>Download Audio File</a>
                        </p>
                    }
                </div>
            </div>
        </div>
        

        <button class="settings-button" @onclick="ToggleSidebar">
            <i class="fas fa-cog"></i>
        </button>
    </div>

    <div class="settings-sidebar @((showSidebar) ? "active" : "")">
        <div class="settings-tab-buttons">
            <div class="settings-tab-button @((activeTab == 1) ? "active" : "")" @onclick="ShowSettings">Settings</div>
            <div class="settings-tab-button @((activeTab == 2) ? "active" : "")" @onclick="ShowLog">Log</div>
        </div>
        <div class="settings-tab-content @((activeTab == 1) ? "active" : "")">
            <h3>Settings</h3>
            <div>
                <label for="systemPrompt">System Prompt:</label>
                <textarea id="systemPrompt" @bind="systemPrompt" rows="8" cols="50"></textarea>
            </div>

            <div>
                <label for="userPrompt">User Prompt:</label>
                <textarea id="userPrompt" @bind="userPrompt" rows="6" cols="50"></textarea>
            </div>
        </div>
        <div class="settings-tab-content @((activeTab == 2) ? "active" : "")">
            <h3>Logs</h3>
            <div class="nested-tab-buttons">
                <div class="nested-tab-button @((activeLogTab == 1) ? "active" : "")" @onclick="ShowDocIntelligenceOutput">Document Intelligence</div>
                <div class="nested-tab-button @((activeLogTab == 2) ? "active" : "")" @onclick="ShowCleanedDocIntelligenceOutput">Cleaned Doc Intelligence</div>
                <div class="nested-tab-button @((activeLogTab == 3) ? "active" : "")" @onclick="ShowLLMOutput">Azure OpenAI</div>
            </div>
            <div class="nested-tab-content @((activeLogTab == 1) ? "active" : "")">
                <label for="docIntelligenceOutput">Document Intelligence Output:</label>
                <textarea id="docIntelligenceOutput" @bind="docIntelligenceOutput" rows="20" cols="50"></textarea>
            </div>
            <div class="nested-tab-content @((activeLogTab == 2) ? "active" : "")">
                <label for="cleanedDocIntelligenceOutput">Cleaned Document Intelligence Output:</label>
                <textarea id="cleanedDocIntelligenceOutput" @bind="cleanedDocIntelligenceOutput" rows="20" cols="50"></textarea>
            </div>
            <div class="nested-tab-content @((activeLogTab == 3) ? "active" : "")">
                <label for="llmOutput">Azure OpenAI LLM Output:</label>
                <textarea id="llmOutput" @bind="llmOutput" rows="20" cols="50"></textarea>
            </div>
        </div>
    </div>
</div>

